
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">LearnScape</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="text-white"><fa-icon [icon]='faBars'></fa-icon></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);">
                    <i><fa-icon [icon]='faCampground'></fa-icon></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <i><fa-icon [icon]='faSliders'></fa-icon></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <i><fa-icon [icon]='faBook'></fa-icon></i>
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <i><fa-icon [icon]='faHomeUser'></fa-icon></i>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <i><fa-icon [icon]='faUserPlus'></fa-icon></i>
                    Sign-Up
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <i><fa-icon [icon]='faSignIn'></fa-icon></i>
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>
